@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab:300,400,400i,600,600i,700&display=swap');
@import url('');


* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: rgb(10, 25, 47);
    color: rgb(135, 146, 176);
    line-height: 2em;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: rgb(230, 241, 255);
    margin: 0px 0px 10px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
}

p {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

p > a {
    color: #A1C6FF;
}

a:hover {
    color: #87B7FF;
}

ul li a,
a, ul li {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

/* Header */
header {
    padding: 5em 0;
    text-align: center;
}

header h1 {
    font-size: 40px;
    color: #fff;
    padding-bottom: 20px;
}

header h2 {
    font-size: 40px;
    line-height: 1.1;
    color: rgb(136, 146, 176);
}

.main h3 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 2em;
    margin-bottom: 0;
    padding: 15px 0;
}

.intro{
    grid-area: header;
}

.page-wrapper {
    margin: 0px auto;
    padding: 0px 150px;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
}

/* Footer */
footer {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 80px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

footer::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}

footer a{
    padding: 10px 15px; 
    text-align: center;
}

.main { grid-area: main; }
.sidebar { grid-area: aside; }
.design-selection { grid-area: "selection"; }
.design-archives { grid-area: "archives"; }
.zen-resources { grid-area: "resources"; }



@media (max-width: 1024px) {

    .page-wrapper {
        grid-template-areas: 
        "header"
        "main"
        "aside";
        grid-template-columns: 1fr;
        padding: 0 60px;
    }

    .sidebar .wrapper {
        display: grid;
        grid-template-areas: "selection"
        "archives"
        "resources";
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        display: block;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1.5em 0;
        margin-top: 2em;
    }

    footer a {
        width: 0px;
    }

    footer::after {
        display: none;
    }

}

@media (max-width: 650px) {
    .sidebar .wrapper {
        display: grid;
        grid-template-areas: "selection"
        "archives"
        "resources";
        grid-template-columns: 1fr;
    }

    .sidebar nav ul,
    .sidebar ul li {
        display: none;
    }
}

@media (max-width: 500px) {
    .page-wrapper {
        padding: 0 30px;
    }
}